apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-deployment
  labels:
    app: order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - name: order
        image: order:latest
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: myacrcredentials 
---
apiVersion: v1
kind: Service
metadata:
  name: ordersvc
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: order